
body {
    font: 1em/150% verdana, arial, helvetica, sans-serif;
    background-color: #0f0f0f;
 }
p {
   color: black;
   font-family: courier;
   font-size: 160%;
   font-weight: bold;
}
h1 {
    font-size: 1em;
    color: #839C29;
    text-align: center;
    border: 1px solid powderblue;
}
h6 {
    font-size: 3em;
    text-align: center;
}
h5 {
    font-size: 3em;
    color: #839C29;
    text-align: center;
}

button {
    height: 50px;
    width: 20%;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 40%;
    height: 30px;
}
table {
  border: 3px solid green;


}
td {
    border: 3px solid green;
    border-bottom: 1px solid #ddd;
}
th {
    width: 100px;
    border: 3px solid green;
    color: brown;
}
tr {
    height: 20px;
    border: 3px solid green;
}
input {
    width: 20%;

}
div.form_1 {
    display: block;
    width: 800px;
    height: 700px;
    margin: auto;
    border: 3px solid green;
    background-color: grey 
}
div.form_2 {
    display: block;
    width: 800px;
    height:900px;
    border: 3px solid green;
    background-color: grey 
}
textarea.A {
	height: 200px;
}

fieldset {
    align-content: left;
    width: 600px;
    border: 1px solid green;
}
input {
    width : 20%;
    height: 40px;
}
@media only screen and (max-width: 800px) {
	p{
		color: black;
    	font-family: courier;
    	font-size: 80%;
    	font-weight: bold;
	}
	textarea.B{
		width : 20%;
	}
	table{
		width : 100%;
	}
}
